
/**
 * ==============================================
 * Dot Elastic
 * ==============================================
 */
.dot-elastic {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #4d0099;
    color: #4d0099;
    -webkit-animation: dot-elastic 1s infinite linear;
    animation: dot-elastic 1s infinite linear;
    /*position: absolute;*/
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

    .dot-elastic::before, .dot-elastic::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
    }

    .dot-elastic::before {
        left: -45px;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        background-color: #4d0099;
        color: #4d0099;
        -webkit-animation: dot-elastic-before 1s infinite linear;
        animation: dot-elastic-before 1s infinite linear;
    }

    .dot-elastic::after {
        left: 45px;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        background-color: #4d0099;
        color: #4d0099;
        -webkit-animation: dot-elastic-after 1s infinite linear;
        animation: dot-elastic-after 1s infinite linear;
    }

@-webkit-keyframes dot-elastic-before {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1, 1.5);
    }

    50% {
        transform: scale(1, 0.67);
    }

    75% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes dot-elastic-before {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1, 1.5);
    }

    50% {
        transform: scale(1, 0.67);
    }

    75% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1, 1);
    }
}

@-webkit-keyframes dot-elastic {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1, 1.5);
    }

    75% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes dot-elastic {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1, 1.5);
    }

    75% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1, 1);
    }
}

@-webkit-keyframes dot-elastic-after {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1, 0.67);
    }

    75% {
        transform: scale(1, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes dot-elastic-after {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1, 0.67);
    }

    75% {
        transform: scale(1, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}
