
.game-state-info {
    display: inline-block;
    margin: 0 10px 10px 0;
    background: #ccb9ea;
    padding: 10px 10px 2px 10px;
    width: 190px;
}

.data-table {
    margin: 10px -5px;
    border-spacing: 5px;
    border-collapse: separate;
}

.data-table td, .data-table th {
    padding: 10px;
}

.data-table td {
    background: #ece6ee;
}

.data-table th {
    background: #bba8c2;
    font-size: 1.4rem;
    font-weight: normal;
}

.data-table-name {
    font-weight: bold;
}

/*.sidebar {
    background: #7763a9;
}*/

.content {
    margin: auto;
    max-width: 900px;
}

.loading-overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}