.content {
    margin: auto;
    max-width: 1080px;
    width: 100%;
}

h1 {
    font-size: var(--pf-global--FontSize--4xl);
}
h2 {
    font-size: var(--pf-global--FontSize--3xl);
}
h3 {
    font-size: var(--pf-global--FontSize--2xl);
}
h4 {
    font-size: var(--pf-global--FontSize--xl);
}
h5 {
    font-size: var(--pf-global--FontSize--lg);
}
h6 {
    font-size: var(--pf-global--FontSize--md);
}

p {
    margin: 16px 0;
}

.btn
{
    box-shadow: none !important;
}

.pf-c-tooltip__content {
    padding: 10px;
    text-align: left;
}
