@inherits LayoutComponentBase

<div class="wrapper">
    <NavigationMenu Collapsed="@Collapsed" OnItemClicked="CollapseForSmallScreens" />

    <div class="main">
        <NavigationBar OnClick="@ToggleNavMenu" />

        <main class="content">
            @Body
        </main>

        <Footer />
    </div>
</div>