@inherits LayoutComponentBase

<div class="wrapper">
    <NavigationMenu Collapsed="@Collapsed" />
        
    <div class="main">
        <NavigationBar OnClick="@ToggleNavMenu" />

        <main class="content">
            @Body
        </main>

        <Footer />
    </div>
</div>

@code {

    private bool Collapsed { get; set; }

    void ToggleNavMenu()
    {
        Collapsed = !Collapsed;

        StateHasChanged();
    }
}