
<nav class="navbar navbar-expand navbar-light navbar-bg">
    <a class="sidebar-toggle d-flex" @onclick="ToggleNavMenu">
        <i class="hamburger align-self-center"></i>
    </a>
</nav>


@code {

    [Parameter] public EventCallback CollapseMenuCallback { get; set; }

    void ToggleNavMenu()
    {
        CollapseMenuCallback.InvokeAsync();
    }
}