
<nav id="sidebar" class="sidebar @NavMenuCssClass">
    <div class="sidebar-content js-simplebar">

        <a class="sidebar-brand" href="">
            <span class="align-middle">Hooray for pension!</span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a class="sidebar-link" href="allsessions">
                    <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Game Sessions</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="newsession">
                    <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">New Game Session!</span>
                </a>
            </li>
        </ul>
    </div>
 </nav>

    @code {
        [Parameter] public string NavMenuCssClass { get; set; } = string.Empty;
    }
