@typeparam TItem

@if (@Items != null)
{
    <div class="fixed-table-pagination" style="">
        <div class="float-right pagination" >
            <div class="btn-group me-2" role="group">
                @foreach(var item in Enumerable.Range(1, Math.Min(3, Items.TotalPages)))
                {
                    <button type="button" class="btn btn-secondary" @onclick="() => InvokeOnPageClicked(item)" >@item</button>
                }
            </div>
            @if (Items.TotalPages >= 4)
            {
                <div class="btn-group me-2" role="group">
                    <button type="button" class="btn btn-secondary" disabled>...</button>
                </div>
            }
            @if (Items.TotalPages >= 4)
            {
                <div class="btn-group me-2" role="group">
                    <button type="button" class="btn btn-secondary" @onclick="() => InvokeOnPageClicked(Items.TotalPages)">@Items.TotalPages</button>
                </div>
            }
        </div>
    </div>
}