@page "/allsessions"
@using PensionGame.Web.Services

@inject SessionDataServices SessionService

<h1>Game Sessions</h1>

@if (Sessions != null)
{
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Started</th>
                <th>Current Year</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (session, currentYear) in Sessions.Items)
            {
                <tr>
                    <td class="data-table-name">
                        <a href="/game/@session.SessionId.Id">
                            @(!string.IsNullOrEmpty(session.Name) ? session.Name : "Anonymous")
                        </a>
                    </td>
                    <td>
                        @session.DateStarted.ToString("yyyy-MM-dd HH:mm:ss")
                    </td>
                    <td>
                        @currentYear
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
