@page "/error"

<h1>Well, shit.</h1>
<h3>
    Something terrible happened. We couldn't process your request.
</h3>

<p>
    Seems like you'll have to get by with your social security pension. Shouldn't be a problem right?
</p>

<img src="img/error.jpg" alt="Error" class="error-photo">

<p>
    If so, maybe try a proper URL, or come back later.
</p>