@page "/"
@using PensionGame.Web.Components

<h1>Hello, world!</h1>

Welcome to your new app. Let's save some money!

<div>
    Forecast for today:
</div>

<div>
    Temperature: <SignedInt Value="42" />

    Stocks: <SignedInt Value="-9" />

    Bonds: <SignedInt Value="0" />
</div>


<div>
    Precise forecast for tomorrow:
</div>

<div>
    Temperature: <SignedDouble Value="42.345" />

    Stocks: <SignedDouble Value="-9.3" />

    Bonds: <SignedDouble Value="0" />
</div>

<p>
<h2>Let's trade!</h2>
    <div>
        <BinaryButton @ref="TradeButton" OnPositionChanged="@Change" />
    </div>

    <div>
        Current position: @TradeButton?.State
    </div>

    <div>
        Last change: @LastChange, from @Old to @New
    </div>
</p>

<p>
    <BinaryButton PositiveCaption="Repay" NegativeCaption="Borrow" />
</p>