@page "/"

<h1>Welcome!</h1>

Welcome to our app designed to simulate how much you need to invest to earn your pension. You can learn more about how to play the app and the code behind it <a href="https://github.com/Lamy-z-Brna/PensionGameServer">here</a>.