@page "/newSession"
@using PensionGame.Web.Services
@using PensionGame.Web.Data
@using PensionGame.Api.Domain.Resources.Session

@inject SessionDataServices SessionService
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager


<h1>New game Session!</h1>

<EditForm EditContext="@EditContext" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label>
            Game Session Name:
        </label>
        <div>
            <InputText @bind-Value="Session.Name" style="width: 400px" />
        </div>
    </p>
    <p>
        <label>
            Income:
        </label>
        <div>
            <InputNumber @bind-Value="Session.Income" />
        </div>
    </p>
    <p>
        <label>
            Expenses:
        </label>
        <div>
            <InputNumber @bind-Value="Session.Expenses" />
        </div>
    </p>
    <p>
        <label>
            Age:
        </label>
        <div>
            <InputNumber @bind-Value="Session.Year" />
        </div>
    </p>
    <p>
        <label>
            Retirement age:
        </label>
        <div>
            <InputNumber @bind-Value="Session.RetirementYear" />
        </div>
    </p>

    <button type="submit">Submit</button>
</EditForm>

