@page "/newSession"
@using PensionGame.Web.Services
@using PensionGame.Web.Components

@inject SessionDataServices SessionService
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager


<h1>New game Session!</h1>

<ValidationResult ResultModel="@ValidationResult" />

<EditForm EditContext="@EditContext">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <MatTextField @bind-Value="Session.Name" Label="Game session name" FullWidth="true" />
    </p>
    <p>
        <MatTextField TValue="int?" @bind-Value="Session.Income" Label="Current annual income" FullWidth="true" />
    </p>
    <p>
        <MatTextField TValue="int?" @bind-Value="Session.Expenses" Label="Current annual expenses" FullWidth="true" />
    </p>
    <p>
        <MatTextField TValue="int?" @bind-Value="Session.ExistingFunds" Label="Existing funds" FullWidth="true" />
    </p>
    <p>
        <MatTextField TValue="int?" @bind-Value="Session.Age" Label="Your age" FullWidth="true" />
    </p>
    <p>
        <MatTextField TValue="int?" @bind-Value="Session.RetirementAge" Label="Expected retirement age" FullWidth="true" />
    </p>

    <SubmitButton IsDisabled="@(!IsValid)" OnSubmit="@HandleValidSubmit" />
</EditForm>

