@page "/newSession"
@using PensionGame.Web.Services
@using PensionGame.Web.Components

@inject SessionDataServices SessionService
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager


<h1>New game Session!</h1>

<ValidationResult ResultModel="@ValidationResult" />

<EditForm EditContext="@EditContext">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label>
            Game Session Name:
        </label>
        <div>
            <InputText @bind-Value="Session.Name" style="width: 400px" />
        </div>
    </p>
    <p>
        <label>
            Income:
        </label>
        <div>
            <InputNumber @bind-Value="Session.Income" />
        </div>
    </p>
    <p>
        <label>
            Expenses:
        </label>
        <div>
            <InputNumber @bind-Value="Session.Expenses" />
        </div>
    </p>
    <p>
        <label>
            Age:
        </label>
        <div>
            <InputNumber @bind-Value="Session.Age" />
        </div>
    </p>
    <p>
        <label>
            Retirement age:
        </label>
        <div>
            <InputNumber @bind-Value="Session.RetirementAge" />
        </div>
    </p>

    <SubmitButton IsDisabled="@(!IsValid)" OnSubmit="@HandleValidSubmit" />
</EditForm>

