<Card>
    <div class="row">
        <div class="col-md-6 text-md-start">
            <h5 class="card-title mb-2">Age</h5>
        </div>

        <div class="col-md-6 text-md-end">
            <h1 class="mt-1 mb-2">@Age</h1>
        </div>
    </div>
</Card>