<div class="row text-md-end">
    <div class="interest-text col-md-9 text-md-end">
        with interest rate
    </div>
    <div class="col-md-3 text-md-end">
        <Tooltip Text="Interest rate">
            <h2>
                @InterestRate.ToString("P1")
            </h2>
        </Tooltip>
    </div>
</div>