<div class="row text-end">
    <div class="interest-text col-9 text-end">
        with interest rate
    </div>
    <div class="col-3 text-end">
        <Tooltip Text="Interest rate">
            <h2>
                @InterestRate.ToString("P1")
            </h2>
        </Tooltip>
    </div>
</div>