<span class="@NumberClass">
    @NumberText
</span>

@code {
    [Parameter] public double Value { get; set; }
    [Parameter] public bool IsPercentage { get; set; }

    public string NumberText => IsPercentage ? $"{Value:+ #,##0.0 %;- #,##0.0 %;0.0 %}" : $"{Value:+ #,##0.00;- #,##0.00;0.00}";
    public string NumberClass => Value > 0 ? "positive" : (Value < 0 ? "negative" : "zero");
}