.tooltip-wrapper {
    position: relative;
    display: inline-block;
}

span {
    visibility: hidden;
    position: absolute;
    width: max-content;
    max-width: 500px;
    bottom: 100%;
    margin-left: -60px;
}

    span::after {
        content: "";
        position: absolute;
    }

.tooltip-wrapper:hover span {
    visibility: visible;
}
