@if (ResultModel != null)
{
    <div>
        @foreach (var validationError in ResultModel.Errors)
        {
            <div class="alert alert-danger" role="alert">
                <div class="alert-message">
                    @validationError.Message
                </div>
            </div>
        }
    </div>
}